<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">데이터 구조(Data Structure) I</p>

데이터 구조(Data Structure)란 데이터에 편리하게 접근하고, 변경하기 위해서 데이터를 저장하거나 조작하는 방법을 말한다.

> **Program = Data Structure + Algorithm**
> - Niklaus Wirth

- 알고리즘에 빈번히 활용되는 순서가 있는(ordered) 데이터 구조 
    - 문자열(String)
    - 리스트(List)
- 데이터 구조에 적용 가능한 Built-in Function

# 문자열(String)

> 변경할 수 없고(immutable), 순서가 있고(ordered), 순회 가능한(iterable)

문자열의 다양한 조작법(method)

https://docs.python.org/ko/3/library/stdtypes.html#string-methods

In [1]:
# iterable
for i in 'char':
    print(i)

c
h
a
r

## 조회/탐색

### `.find(x)` 

x의 **첫 번째 위치**를 반환합니다. 없으면, `-1`을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [2]:
a = 'apple'

In [3]:
a.find('a')

0

In [4]:
a.find('p')

1

In [5]:
a.find('f')

-1

### `.index(x)`

x의 **첫번째 위치**를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
a = 'apple'

In [6]:
a.index('a')

0

In [7]:
a.index('p')

1

In [8]:
# find는 값이 없으면 -1을 return하지만, index는 에러 발생
a.index('f')

ValueError: substring not found

## 값 변경

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [10]:
z = 'zoo!yoyo!'

In [11]:
z.replace('o', '')

'z!yy!'

In [12]:
z.replace('o', '', 2)

'z!yoyo!'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [15]:
oh = '    oh!\n'

In [16]:
oh.strip()

'oh!'

In [17]:
oh.lstrip()

'oh!\n'

In [18]:
oh.rstrip()

'    oh!'

In [19]:
escape = '\r\t\n'
escape.strip()

''

### `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [20]:
csv = '1,홍길동,01012344567'

In [21]:
csv.split(',')

['1', '홍길동', '01012344567']

In [22]:
type(csv.split(','))

list

In [23]:
numbers = '1 5 6'
# 기본은 공백을 기준으로
numbers.split()

['1', '5', '6']

### `'separator'.join(iterable)`

특정한 문자열로 만들어 반환합니다.

반복가능한(iterable) 컨테이너의 요소들을 separator를 구분자로 합쳐(`join()`) 문자열로 반환합니다.

In [25]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [26]:
'!'.join(word)

'배!고!파'

In [27]:
','.join(words)

'안녕,hello'

## 문자 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [28]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [29]:
a.capitalize()

"Hi! everyone, i'm kim"

In [30]:
a.title()

"Hi! Everyone, I'M Kim"

In [31]:
a.upper()

"HI! EVERYONE, I'M KIM"

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [ ]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [32]:
a.lower()

"hi! everyone, i'm kim"

In [33]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### 기타 문자열 관련 검증 메소드 : 참/거짓 반환
```py
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [34]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
'3'.isalpha()

False

In [35]:
'a'.isalpha()

True

In [36]:
'3.5'.isdecimal()

False

---

# 리스트(List) 

> 변경 가능하고(mutable), 순서가 있고(ordered), 순회 가능한(iterable)

데이터 구조로서의 리스트(list)와 조작법(method)

* https://docs.python.org/ko/3/tutorial/datastructures.html#more-on-lists

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [37]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [38]:
# 값을 추가해봅시다.
cafe.append('banapresso')

In [39]:
# 코드 입력
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string**[주의]**) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [40]:
# 코드 입력
cafe.extend(['이디야'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [41]:
# 코드 입력
cafe = cafe + ['스벅']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅']

In [ ]:
# append와 비교해봅시다.

In [42]:
# 코드 입력
cafe.extend(['커피와빵', '던킨도너츠'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠']

In [ ]:
# 문자열도 활용해봅시다.

In [43]:
print(cafe)
# 반복해서 개별 요소를 추가
cafe.extend('ediya')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠']
['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'a']

In [ ]:
### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [44]:
# 코드 입력
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'a']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [45]:
# 코드 입력
cafe.insert(-1, 'bye')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'bye', 'a']

In [47]:
cafe.insert(len(cafe), '진짜안녕')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'bye', 'a', '진짜안녕', '진짜안녕']

In [48]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.
len(cafe)

17

In [49]:
# 코드 입력
cafe.insert(20000,'이만안녕')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'bye', 'a', '진짜안녕', '진짜안녕', '이만안녕']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [50]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [51]:
# 코드 입력
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [52]:
# 코드 입력
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [53]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [54]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [55]:
a.pop()

6

In [56]:
print(a)

[1, 2, 3, 4, 5]

In [57]:
# pop할 index 지정 가능
a.pop(0)
print(a)

[2, 3, 4, 5]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [58]:
students = ['홍길동', '유재석']
bye = students.pop()
print(f'{bye} 학생이 떠나갔습니다...!')

유재석 학생이 떠나갔습니다...!

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [59]:
a = [1, 2, 3]
a.clear()
print(a)

[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [60]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [61]:
a.index(2)

1

In [62]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index('a')

ValueError: 'a' is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [63]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [64]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [66]:
target = 1
for i in range(a.count(1)):
    a.remove(1)
a

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [67]:
1 in a

False

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

In [68]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[9, 18, 32, 28, 44, 37]

In [70]:
# sort() 를 사용해봅시다.
lotto.sort()
lotto

[9, 18, 28, 32, 37, 44]

In [71]:
sorted(random.sample(range(1, 46), 6))

[4, 5, 12, 15, 29, 33]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [72]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [75]:
classroom.reverse()
classroom

['Justin', 'David', 'Tom']

## 리스트 복사

In [76]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [77]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [78]:
copy_list[0] = 'A!!'
print(copy_list, original_list)

['A!!', 2, 3] ['A!!', 2, 3]

In [ ]:
# id 값을 확안해봅시다.

## 데이터의 분류 (*복습*) 
> `mutable` vs. `immutable`

데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다.

### 변경 불가능한(`immutable`) 데이터

* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* range()

* tuple()

* frozenset()

In [ ]:
# immutable 데이터의 복사는 어떻게 이루어질까?
a = 20
b = a
b = 10

print(a)
print(b)

In [ ]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [ ]:
# mutable 데이터의 복사는 어떻게 이루어질까?
a = [1, 2, 3, 4]
b = a
b[0] = 100

print(a)
print(b)

In [ ]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%20%5B1,%202,%203,%204%5D%0Ab%20%3D%20a%0Ab%5B0%5D%20%3D%20100%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

## 리스트 복사 방법

### slice 연산자 사용 `[:]`

In [ ]:
# 리스트를 복사해봅시다.

In [1]:
a = [1, 2, 3, 4]
b = a[:]
b[0] = 100

print(a)
print(b)

[1, 2, 3, 4]
[100, 2, 3, 4]

In [ ]:
# 다른 방법으로 복사해봅시다.

### `list()` 활용

In [2]:
a = [1, 2, 3, 4]
b = list(a)
b[0] = 100

print(a)
print(b)

[1, 2, 3, 4]
[100, 2, 3, 4]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [3]:
a = [[1, 2, 3], 2, 3]
b = list(a)
print(a, b)
b[0][0] = 100
print(a, b)

[[1, 2, 3], 2, 3] [[1, 2, 3], 2, 3]
[[100, 2, 3], 2, 3] [[100, 2, 3], 2, 3]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [4]:
import copy
a = [[1, 2, 3], 2, 3]
b = copy.deepcopy(a)
print(a, b)
b[0][0] = 100
print(a, b)

[[1, 2, 3], 2, 3] [[1, 2, 3], 2, 3]
[[1, 2, 3], 2, 3] [[100, 2, 3], 2, 3]

## List Comprehension

List Comprehension은 표현식과 제어문을 통해 리스트를 생성합니다.

여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

### 활용법

```python
[expression for 변수 in iterable]

list(expression for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [7]:
numbers = range(1, 11)

In [ ]:
# 반복문을 활용하여 작성하세요.

In [8]:
cubic_list = []
for number in numbers:
    cubic_list.append(number ** 3)

In [9]:
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [13]:
cubic_list = [number**3 for number in numbers]

In [14]:
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[expression for 변수 in iterable if 조건식]

[expression if 조건식 else 식 for 변수 in iterable]
```

### [연습] 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 작성하세요.

In [6]:
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
        
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [3]:
[i for i in range(1, 11) if i % 2 == 0]

[2, 4, 6, 8, 10]

In [7]:
['홀수' if i % 2 == 1 else '짝수' for i in range(1, 11)]

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

### [실습] 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

**[입력 예시]**
```python
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']
```

---
**[출력 예시]**

```   
[('justin', 'jane'), ('justin', 'ashley'), ('justin', 'mary'), ('eric', 'jane'), ('eric', 'ashley'), ('eric', 'mary'), ('david', 'jane'), ('david', 'ashley'), ('david', 'mary')]
```

In [ ]:
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [ ]:
print(pair)

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:
print(pair)

### [응용] 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---
**[출력 예시]**

```
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [11]:
result = []
for x in range(50):
    for y in range(x+1, 50):
        for z in range(y+1, 50):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))

In [12]:
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [9]:
result = [(x, y, z) for x in range(50) for y in range(x+1, 50) for z in range(y+1, 50) if z**2 == x**2 + y**2]

In [10]:
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### [응용] 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

**[입력 예시]**

```python
words = 'Life is too short, you need python!'
```

---
**[출력 예시]**

```
Lf s t shrt, y nd pythn!
```

In [ ]:
vowels = 'aeiou'
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [ ]:
print(''.join(result))

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:
print(''.join(result))

# 데이터 구조에 적용가능한 Built-in Function

순회 가능한(iterable) 데이터 구조에 적용가능한 Built-in Function

> iterable 타입 - `list`, `dict`, `set`, `str`, `bytes`, `tuple`, `range`

- `map()`
- `filter()`
- `zip()`
- ~~`reduce()`~~ ([참고](https://docs.python.org/ko/3/library/functools.html#functools.reduce))

## `map(function, iterable)`

* 순회가능한 데이터 구조(iterable)의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* return은 `map_object` 형태이다.

In [2]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [ ]:
# List comprehension 활용

In [4]:
''.join([str(i) for i in numbers])

'123'

In [ ]:
# map() 활용

In [7]:
''.join(list(map(str, numbers)))

'123'

`map()` 함수는 입력값을 처리할 때 자주 활용됩니다.

In [15]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [22]:
new_numbers = list(map(int, numbers))
result = 0
for num in new_numbers:
    result = result*10 + num
print(result)

123

In [16]:
# List comprehension 활용

In [ ]:
# map() 활용

In [ ]:
print(new_numbers)

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [11]:
# 세제곱의 결과를 나타내는 함수가 있습니다.
def cube(n):
    return n ** 3

In [16]:
# 세제곱 함수를 각각의 요소에 적용한 결과값을 구해봅시다.
numbers = [1, 2, 3]
list(map(cube, numbers))

[1, 8, 27]

### [연습] 코딩 테스트의 기본

> 두 정수를 입력 받아 더한 값을 출력하시오.

**[입력 예시]**

3 5

---

**[출력 예시]**

8

In [10]:
# 아래에 코드를 작성하시오.
a = input()
list(map(int, a.split()))

3 5

[3, 5]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 특정 list에서 홀수만을 걸러내는 코드를 작성해봅시다.

In [18]:
# 홀수를 판별하는 함수가 있습니다.
def odd(n):
    return n % 2

In [19]:
# 홀수인 요소만 뽑아 new_numbers에 저장합니다.
numbers = [1, 2, 3]
list(filter(odd, numbers))

[1, 3]

In [ ]:
# 다음의 list comprehension과 동일합니다.

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아(`zip()`)준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [20]:
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']

In [ ]:
# zip() 활용하여 짝을 맞추어 본다.

In [21]:
list(zip(girls, boys))

[('jane', 'justin'), ('ashley', 'eric'), ('mary', 'david')]